Repository richardvinc/kpbb-fc-be: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod, deploy:resources:dev, deploy:resources:qa, deploy:resources:prod

Path conditions:
  install: any of: package.json, yarn.lock, libs/**/package.json, apps/**/package.json
  build:api:dev: any of: apps/migrations/*, apps/seeds/*, apps/api/**/*, libs/**/*
  deploy:api:dev: any of: apps/api/**/*, libs/**/*
  build:api:qa: any of: apps/migrations/*, apps/seeds/*, apps/api/**/*, libs/**/*
  deploy:api:qa: any of: apps/api/**/*, libs/**/*
  build:api:prod: any of: apps/migrations/*, apps/seeds/*, apps/api/**/*, libs/**/*
  deploy:api:prod: any of: apps/api/**/*, libs/**/*
  deploy:resources:dev: any of: apps/resources/**/*
  deploy:resources:qa: any of: apps/resources/**/*
  deploy:resources:prod: any of: apps/resources/**/*

fix(): re-add ssm
  package.json
Due: install

feat(): several adjustments
  apps/api/src/server/middlewares/HealthCheck.ts
  apps/api/src/server/routes/users/CreateUserFuelConsumptionController.ts
  libs/fuelConsumption/src/domains/FuelConsumption.ts
  libs/fuelConsumption/src/repositories/IAccumulatedFuelConsumptionRepository.ts
  libs/fuelConsumption/src/repositories/KnexAccumulatedFuelConsumptionRepository.ts
  libs/user/src/use-case/CreateUserFuelConsumptionUseCase/Command.ts
  libs/user/src/use-case/CreateUserFuelConsumptionUseCase/UseCase.ts
  package.json
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

chore(): bump up version
  apps/api/src/server/middlewares/HealthCheck.ts
  package.json
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): few adjustment
  apps/api/src/server/middlewares/HealthCheck.ts
  apps/migrations/20221204210900_update_demo.ts
  libs/fuelConsumption/src/domains/AccumulatedFuelConsumption.ts
  libs/fuelConsumption/src/mappers/AccumulatedFuelConsumptionMapper.ts
  libs/fuelConsumption/src/repositories/KnexAccumulatedFuelConsumptionRepository.ts
  libs/user/src/repositories/KnexUserCarRepository.ts
  libs/user/src/services/UserFuelConsumptionSummaryService.ts
  package.json
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

fix(): fix average, divide car and motorcycle on top-10
  apps/api/src/server/routes/fuelConsumption/RetrieveTop10AccumulatedFuelConsumptionListController.ts
  apps/api/src/server/routes/fuelConsumption/index.ts
  libs/car/src/domains/CarSubModel.ts
  libs/car/src/mappers/PostgresCarSubModelMapper.ts
  libs/car/src/repositories/ICarSubModelRepository.ts
  libs/car/src/repositories/KnexCarSubModelRepository.ts
  libs/fuelConsumption/src/services/AccumulatedFuelConsumptionService.ts
  libs/fuelConsumption/src/services/IAccumulatedFuelConsumptionService.ts
  libs/fuelConsumption/src/use-cases/RetrieveTop10AccumulatedFuelConsumptionListUseCase/Command.ts
  libs/fuelConsumption/src/use-cases/RetrieveTop10AccumulatedFuelConsumptionListUseCase/UseCase.ts
  libs/user/src/services/UserFuelConsumptionSummaryService.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

fix(): fix average counting process
  libs/fuelConsumption/src/services/AccumulatedFuelConsumptionService.ts
  libs/user/src/services/UserFuelConsumptionSummaryService.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod
