Repository richardvinc/kpbb-fc-be: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod, deploy:resources:dev, deploy:resources:qa, deploy:resources:prod

Path conditions:
  install: any of: package.json, yarn.lock, libs/**/package.json, apps/**/package.json
  build:api:dev: any of: apps/migrations/*, apps/seeds/*, apps/api/**/*, libs/**/*
  deploy:api:dev: any of: apps/api/**/*, libs/**/*
  build:api:qa: any of: apps/migrations/*, apps/seeds/*, apps/api/**/*, libs/**/*
  deploy:api:qa: any of: apps/api/**/*, libs/**/*
  build:api:prod: any of: apps/migrations/*, apps/seeds/*, apps/api/**/*, libs/**/*
  deploy:api:prod: any of: apps/api/**/*, libs/**/*
  deploy:resources:dev: any of: apps/resources/**/*
  deploy:resources:qa: any of: apps/resources/**/*
  deploy:resources:prod: any of: apps/resources/**/*

feat(): fix `create user`
  apps/api/src/app/CompositionRoot.ts
  apps/api/src/server/middlewares/VerifyAuthToken.ts
  apps/api/src/server/routes/users/CreateUserController.ts
  apps/api/src/server/routes/users/RetrieveUserController.ts
  apps/api/src/server/routes/users/index.ts
  apps/migrations/20220830145053_users.ts
  knexfile.ts
  libs/auth/src/providers/KokattoOTPProvider.ts
  libs/core/src/config/loader/DotEnvConfigLoader.ts
  libs/user/src/domains/User.ts
  libs/user/src/mappers/PostgresUserMapper.ts
  libs/user/src/repositories/IUserRepository.ts
  libs/user/src/repositories/KnexUserRepository.ts
  libs/user/src/serializers/JSONUserSerializer.ts
  libs/user/src/use-case/CreateUserUseCase/Command.ts
  libs/user/src/use-case/CreateUserUseCase/UseCase.ts
  libs/user/src/use-case/RetrieveUserUseCase/Command.ts
  libs/user/src/use-case/RetrieveUserUseCase/UseCase.ts
  yarn.lock
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

fix(): disallow duplicate username
  apps/api/src/server/middlewares/VerifyUser.ts
  apps/api/src/server/routes/users/CreateUserController.ts
  libs/user/src/repositories/KnexUserRepository.ts
  libs/user/src/use-case/CreateUserUseCase/Command.ts
  libs/user/src/use-case/CreateUserUseCase/UseCase.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): add `retrieve user list`
  .gitignore
  apps/api/src/app/CompositionRoot.ts
  apps/api/src/server/routes/auth/index.ts
  apps/api/src/server/routes/users/RetrieveUserController.ts
  apps/api/src/server/routes/users/RetrieveUserListController.ts
  apps/api/src/server/routes/users/index.ts
  libs/user/src/use-case/RetrieveUserListUseCase/Command.ts
  libs/user/src/use-case/RetrieveUserListUseCase/UseCase.ts
  libs/user/src/use-case/RetrieveUserListUseCase/index.ts
  libs/user/src/use-case/index.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): add db migrations
  apps/api/sample.env
  apps/api/src/app/CompositionRoot.ts
  apps/migrations/20220915001100_car_brands.ts
  apps/migrations/20220916001100_car_models.ts
  apps/migrations/20220917071153_car_sub_models.ts
  apps/migrations/20220920074400_user_car.ts
  apps/migrations/20220920074600_user_fuel_consumption_history.ts
  apps/migrations/20220920075300_user_fuel_consumption_summary.ts
  apps/migrations/20220920075700_accumulated_fuel_consumption.ts
  apps/migrations/20220920080500_update_log.ts
  libs/car/src/domains/Car.ts
  libs/car/src/domains/CarFuelConsumption.ts
  libs/car/src/domains/FuelConsumption.ts
  libs/car/src/domains/car-properties/CarBrand.ts
  libs/car/src/domains/car-properties/CarDimension.ts
  libs/car/src/domains/car-properties/CarModel.ts
  libs/car/src/domains/car-properties/CarSubModel.ts
  libs/car/src/domains/car-properties/EngineCapacity.ts
  libs/car/src/domains/car-properties/FuelType.ts
  libs/car/src/domains/car-properties/TankCapacity.ts
  libs/car/src/domains/car-properties/TransmissionType.ts
  libs/car/src/domains/car-properties/index.ts
  libs/car/src/domains/index.ts
  libs/car/src/mappers/PostgresCarMapper.ts
  libs/car/src/services/CarService.ts
  libs/user/src/domains/User.ts
  libs/user/src/domains/UserCar.ts
  libs/user/src/domains/UserFuelConsumption.ts
  libs/user/src/domains/index.ts
  libs/user/src/domains/user-properties/UserGender.ts
  libs/user/src/domains/user-properties/Username.ts
  libs/user/src/domains/user-properties/index.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): add `retrieve car list` endpoint
  apps/api/src/app/CompositionRoot.ts
  apps/api/src/server/routes/cars/RetrieveCarListController.ts
  apps/api/src/server/routes/cars/index.ts
  apps/api/src/server/routes/index.ts
  apps/migrations/20220917071153_car_sub_models.ts
  libs/car/src/domains/CarSubModel.ts
  libs/car/src/index.ts
  libs/car/src/mappers/PostgresCarSubModelMapper.ts
  libs/car/src/repositories/KnexCarSubModelRepository.ts
  libs/car/src/serializers/JSONCarSubModelSerializers.ts
  libs/car/src/serializers/index.ts
  libs/car/src/use-cases/RetrieveCarListUseCase/Command.ts
  libs/car/src/use-cases/RetrieveCarListUseCase/UseCase.ts
  libs/car/src/use-cases/RetrieveCarListUseCase/index.ts
  libs/car/src/use-cases/index.ts
  libs/user/src/services/UserService.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): add `create user car` endpoint
  apps/api/src/app/CompositionRoot.ts
  apps/api/src/server/index.ts
  apps/api/src/server/middlewares/VerifyUser.ts
  apps/api/src/server/routes/users/CreateUserCarController.ts
  apps/api/src/server/routes/users/index.ts
  libs/car/src/use-cases/RetrieveCarListUseCase/Command.ts
  libs/car/src/use-cases/RetrieveCarListUseCase/UseCase.ts
  libs/user/src/domains/UserCar.ts
  libs/user/src/errors/UserCarErrors.ts
  libs/user/src/errors/index.ts
  libs/user/src/mappers/PostgresUserCarMapper.ts.ts
  libs/user/src/repositories/IUserCarRepository.ts
  libs/user/src/repositories/KnexUserCarRepository.ts
  libs/user/src/serializers/JSONUserCarSerializer.ts
  libs/user/src/serializers/index.ts
  libs/user/src/services/IUserCarService.ts
  libs/user/src/services/IUserService.ts
  libs/user/src/services/UserCarService.ts
  libs/user/src/services/UserService.ts
  libs/user/src/services/index.ts
  libs/user/src/use-case/CreateUserCarUseCase/Command.ts
  libs/user/src/use-case/CreateUserCarUseCase/UseCase.ts
  libs/user/src/use-case/CreateUserCarUseCase/index.ts
  libs/user/src/use-case/CreateUserUseCase/Command.ts
  libs/user/src/use-case/CreateUserUseCase/UseCase.ts
  libs/user/src/use-case/RetrieveUserListUseCase/UseCase.ts
  libs/user/src/use-case/RetrieveUserUseCase/UseCase.ts
  libs/user/src/use-case/index.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): add `create user fuel consumption` and `retrieve user car list` endpoint
  apps/api/src/app/CompositionRoot.ts
  apps/api/src/server/middlewares/VerifyUser.ts
  apps/api/src/server/routes/users/CreateUserFuelConsumptionController.ts
  apps/api/src/server/routes/users/RetrieveUserCarListController.ts
  apps/api/src/server/routes/users/RetrieveUserController.ts
  apps/api/src/server/routes/users/RetrieveUserListController.ts
  apps/api/src/server/routes/users/index.ts
  libs/user/src/domains/UserFuelConsumption.ts
  libs/user/src/repositories/IUserCarRepository.ts
  libs/user/src/repositories/IUserFuelConsumptionRepository.ts
  libs/user/src/repositories/IUserRepository.ts
  libs/user/src/repositories/KnexUserFuelConsumptionRepository.ts
  libs/user/src/serializers/JSONUserFuelConsumptionSerializer.ts
  libs/user/src/serializers/index.ts
  libs/user/src/services/IUserFuelConsumptionService.ts
  libs/user/src/services/UserCarService.ts
  libs/user/src/services/UserFuelConsumptionService.ts
  libs/user/src/services/index.ts
  libs/user/src/use-case/CreateUserFuelConsumptionUseCase/Command.ts
  libs/user/src/use-case/CreateUserFuelConsumptionUseCase/UseCase.ts
  libs/user/src/use-case/CreateUserFuelConsumptionUseCase/index.ts
  libs/user/src/use-case/RetrieveUserCarListUseCase/Command.ts
  libs/user/src/use-case/RetrieveUserCarListUseCase/UseCase.ts
  libs/user/src/use-case/RetrieveUserCarListUseCase/index.ts
  libs/user/src/use-case/RetrieveUserUseCase/Command.ts
  libs/user/src/use-case/RetrieveUserUseCase/UseCase.ts
  libs/user/src/use-case/index.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): add `retrieve user fuel comsumption by car` endpoint
  apps/api/src/app/CompositionRoot.ts
  apps/api/src/server/routes/users/CreateUserFuelConsumptionController.ts
  apps/api/src/server/routes/users/RetrieveUserFuelConsumptionListByCarController.ts
  apps/api/src/server/routes/users/index.ts
  apps/migrations/20220920074600_user_fuel_consumption_history.ts
  libs/fuelConsumption/src/domains/FuelConsumption.ts
  libs/fuelConsumption/src/errors/index.ts
  libs/fuelConsumption/src/index.ts
  libs/fuelConsumption/src/serializers/JSONFuelConsumptionSerializer.ts
  libs/fuelConsumption/src/serializers/index.ts
  libs/user/src/domains/UserFuelConsumption.ts
  libs/user/src/domains/UserFuelConsumptionHistory.ts
  libs/user/src/domains/index.ts
  libs/user/src/mappers/PostgresUserFuelConsumptionMapper.ts
  libs/user/src/serializers/JSONUserFuelConsumptionHistorySerializer.ts
  libs/user/src/serializers/JSONUserFuelConsumptionSerializer.ts
  libs/user/src/serializers/index.ts
  libs/user/src/use-case/CreateUserFuelConsumptionUseCase/UseCase.ts
  libs/user/src/use-case/RetrieveUserFuelConsumptionByCarListUseCase/Command.ts
  libs/user/src/use-case/RetrieveUserFuelConsumptionByCarListUseCase/UseCase.ts
  libs/user/src/use-case/RetrieveUserFuelConsumptionByCarListUseCase/index.ts
  libs/user/src/use-case/index.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): beta v1.0
  apps/api/src/app/CompositionRoot.ts
  apps/api/src/server/routes/fuelConsumption/RetrieveAccumulatedFuelConsumptionListController.ts
  apps/api/src/server/routes/fuelConsumption/RetrieveTop10AccumulatedFuelConsumptionListController.ts
  apps/api/src/server/routes/fuelConsumption/index.ts
  apps/api/src/server/routes/users/RetrieveUserFuelConsumptionListByCarController.ts
  apps/migrations/20220920075300_user_fuel_consumption_summary.ts
  apps/migrations/20220920075700_accumulated_fuel_consumption.ts
  libs/car/src/repositories/KnexCarSubModelRepository.ts
  libs/fuelConsumption/src/domains/AccumulatedFuelConsumption.ts
  libs/fuelConsumption/src/mappers/AccumulatedFuelConsumptionMapper.ts
  libs/fuelConsumption/src/repositories/IAccumulatedFuelConsumptionRepository.ts
  libs/fuelConsumption/src/repositories/KnexAccumulatedFuelConsumptionRepository.ts
  libs/fuelConsumption/src/serializers/JSONAccumulatedFuelConsumptionSerializer.ts
  libs/fuelConsumption/src/services/AccumulatedFuelConsumptionService.ts
  libs/fuelConsumption/src/services/IAccumulatedFuelConsumptionService.ts
  libs/fuelConsumption/src/use-cases/RetrieveAccumulatedFuelConsumptionListUseCase/Command.ts
  libs/fuelConsumption/src/use-cases/RetrieveAccumulatedFuelConsumptionListUseCase/UseCase.ts
  libs/fuelConsumption/src/use-cases/RetrieveTop10AccumulatedFuelConsumptionListUseCase/Command.ts
  libs/fuelConsumption/src/use-cases/RetrieveTop10AccumulatedFuelConsumptionListUseCase/UseCase.ts
  libs/fuelConsumption/src/use-cases/RetrieveTop10AccumulatedFuelConsumptionListUseCase/index.ts
  libs/fuelConsumption/src/use-cases/index.ts
  libs/user/src/mappers/PostgresUserFuelConsumptionSummaryMapper.ts
  libs/user/src/repositories/IUserFuelConsumptionRepository.ts
  libs/user/src/repositories/KnexUserFuelConsumptionRepository.ts
  libs/user/src/repositories/KnexUserFuelConsumptionSummaryRepository.ts
  libs/user/src/serializers/JSONUserFuelConsumptionHistorySerializer.ts
  libs/user/src/services/IUserFuelConsumptionService.ts
  libs/user/src/services/IUserFuelConsumptionSummaryService.ts
  libs/user/src/services/UserFuelConsumptionService.ts
  libs/user/src/services/UserFuelConsumptionSummaryService.ts
  libs/user/src/use-case/CreateUserFuelConsumptionUseCase/UseCase.ts
  libs/user/src/use-case/RetrieveUserFuelConsumptionByCarListUseCase/Command.ts
  libs/user/src/use-case/RetrieveUserFuelConsumptionByCarListUseCase/UseCase.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

fix(): fix several bugs
  apps/api/src/server/middlewares/VerifyUser.ts
  apps/api/src/server/routes/cars/RetrieveCarListController.ts
  apps/api/src/server/routes/users/CreateUserFuelConsumptionController.ts
  apps/api/src/server/routes/users/RetrieveSelfController.ts
  apps/api/src/server/routes/users/RetrieveUserFuelConsumptionListByCarController.ts
  apps/api/src/server/routes/users/index.ts
  apps/migrations/20220830145053_users.ts
  libs/car/src/serializers/JSONCarSubModelSerializers.ts
  libs/car/src/use-cases/RetrieveCarListUseCase/Command.ts
  libs/car/src/use-cases/RetrieveCarListUseCase/UseCase.ts
  libs/fuelConsumption/src/mappers/AccumulatedFuelConsumptionMapper.ts
  libs/fuelConsumption/src/repositories/KnexAccumulatedFuelConsumptionRepository.ts
  libs/fuelConsumption/src/serializers/JSONAccumulatedFuelConsumptionSerializer.ts
  libs/user/src/mappers/PostgresUserFuelConsumptionMapper.ts
  libs/user/src/mappers/PostgresUserFuelConsumptionSummaryMapper.ts
  libs/user/src/repositories/IUserFuelConsumptionRepository.ts
  libs/user/src/repositories/KnexUserCarRepository.ts
  libs/user/src/repositories/KnexUserFuelConsumptionRepository.ts
  libs/user/src/serializers/JSONUserCarSerializer.ts
  libs/user/src/serializers/JSONUserFuelConsumptionHistorySerializer.ts
  libs/user/src/serializers/JSONUserFuelConsumptionSerializer.ts
  libs/user/src/serializers/JSONUserFuelConsumptionSummarySerializer.ts
  libs/user/src/services/IUserFuelConsumptionService.ts
  libs/user/src/services/UserFuelConsumptionService.ts
  libs/user/src/services/UserFuelConsumptionSummaryService.ts
  libs/user/src/use-case/CreateUserCarUseCase/UseCase.ts
  libs/user/src/use-case/CreateUserFuelConsumptionUseCase/UseCase.ts
  libs/user/src/use-case/RetrieveUserFuelConsumptionByCarListUseCase/UseCase.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/main_kpbb.yml
Due: none

Remove the Azure App Service build and deployment workflow config
  .github/workflows/main_kpbb.yml
Due: none

fix(): fix package.json
  apps/api/package.json
  libs/fuelConsumption/package.json
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): unify package.json
  .vscode/settings.json
  apps/api/package.json
  gulpfile.ts
  package.json
  webpack.config.ts
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

chore(): remove yarn.lock
  yarn.lock
Due: install

feat(): add gulp
  apps/api/gulpfile.ts
  apps/api/webpack.config.ts
  package-lock.json
  package.json
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

chore(): remove phin
  libs/core/src/utils/Base64Util.ts
  libs/core/src/utils/index.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

chore(): change port
  apps/api/src/server/index.ts
  package.json
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

chore(): edit github workflows
  .github/workflows/main_kpbb.yml
Due: none

chore(): edit github actions
  .github/workflows/main_kpbb.yml
Due: none

chore(): edit github workflow
  .github/workflows/main_kpbb.yml
Due: none

chore(): edit cicd
  .github/workflows/main_kpbb.yml
Due: none

fix(): several bug fixing
  .vscode/settings.json
  apps/api/src/app/CompositionRoot.ts
  apps/api/src/server/index.ts
  apps/api/src/server/middlewares/VerifyAuthToken.ts
  libs/car/src/repositories/KnexCarSubModelRepository.ts
  libs/car/src/use-cases/RetrieveCarListUseCase/Command.ts
  libs/core/src/infrastructure/http/koa/KoaBaseController.ts
  libs/user/src/repositories/KnexUserFuelConsumptionRepository.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

fix(): adjustment
  apps/api/src/server/index.ts
  package-lock.json
  package.json
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

feat(): add version to health
  apps/api/src/server/middlewares/HealthCheck.ts
  libs/types/src/Http.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

fix(): edit cicd
  .github/workflows/main_kpbb.yml
Due: none

chore(): bump up version
  package.json
Due: install

fix(): error in query
  libs/user/src/repositories/KnexUserFuelConsumptionRepository.ts
Due: build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

fix(): error in calculation
  apps/api/src/server/middlewares/HealthCheck.ts
  libs/fuelConsumption/src/domains/FuelConsumption.ts
  package.json
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod

chore(): bump up version
  apps/api/src/server/middlewares/HealthCheck.ts
  package.json
Due: install, build:api:dev, deploy:api:dev, build:api:qa, deploy:api:qa, build:api:prod, deploy:api:prod
